<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build Buddy Login Page</title>
    <script th:src="@{/js/tailwind.js}"></script>
</head>
<body>
    <div class="container flex justify-center items-center h-screen mx-auto w-full">
        <form th:action="@{/login}" method="post" class="flex flex-col justify-center items-center border-solid border-2 w-2/5 h-3/4 rounded-[10px]">
            <div class="text-center h-2/6 w-full flex items-center justify-center">
                <h1 class="font-bold text-6xl">
                    Login
                </h1>
            </div>
            <div class="flex flex-col justify-evenly h-4/6 w-full">
                <div th:if="${param.error}" class="flex justify-center text-red-600">
                    Invalid username or password.
                </div>
                <div th:if="${param.logout}" class="flex justify-center text-red-600">
                    You have been logged out.
                </div>
                <div class="flex justify-center">
                        <input type="text" name="username" class="border-solid border-2 w-3/5 rounded-[6px] py-3" placeholder="Username"/>
                </div>
                <div class="flex justify-center mb-5">
                        <input type="password" name="password" class="border-solid border-2 w-3/5 rounded-[6px] py-3" placeholder="Password"/>
                </div>
                <div class="flex justify-center">
                    <input type="submit" class="w-3/5 font-bold bg-[#FFA412] rounded-[6px] cursor-pointer py-3" value="Log in"/>
                </div>
                <div class="flex justify-center">
                    <a href="/api/v1/login" class="underline">Dont have an account? Register now.</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>